extends layout

block content
    .mainContainer
        .center-text
            h1 Historial de Vuelos
            each vuelo in historialVuelo
                .historial-item
                    p Destino: #{vuelo.destino}
                    p Vuelo: #{vuelo.vuelo}
                    p Cantidad de Boletos: #{vuelo.cantidad_boletos}
                    p Precio del Vuelo: #{vuelo.precio_vuelo}
                    p Fecha del Vuelo: #{new Date(vuelo.fecha_vuelo).toLocaleDateString()}
                    p Hotel: #{vuelo.hotel}
                    p Noches de Hospedaje: #{vuelo.noches_hospedaje}
                    p Precio del Hotel: #{vuelo.precio_hotel}
                    button(type="submit") Gestionar vuelo

