extends layout

block content
    .mainContainer
        .center-text
            h1 Gestión del Viaje

            //- Resumen del viaje
            if vueloData
                .vuelo-detalle
                    h2 Resumen del Viaje
                    p Destino: #{vueloData.id}
                    p Destino: #{vueloData.destino}
                    p Vuelo: #{vueloData.vuelo}
                    p Cantidad de Boletos: #{vueloData.cantidad_boletos}
                    p Precio del Vuelo: $#{vueloData.precio_vuelo} MXN
                    p Fecha del Vuelo: #{new Date(vueloData.fecha_vuelo).toLocaleDateString()}
                    p Hotel: #{vueloData.hotel}
                    p Noches de Hospedaje: #{vueloData.noches_hospedaje}
                    p Precio del Hospedaje: $#{vueloData.precio_hotel} MXN
            else
                p No hay datos del vuelo para gestionar.

            //- Actividades
            .actividades
                h2 Actividades
                each ubicacion in ubicaciones
                    h3 #{ubicacion.ubicacion_de_interes}
                    form(action="/gestion/agregar-actividad", method="POST")
                        input(type="hidden", name="idUbicacion", value=ubicacion.id)
                        input(type="hidden", name="vueloId", value=vueloData.id)
                        .form-group
                        button(type="submit") Agregar Actividad

                        //- Equipaje
            .equipaje
                h2 Equipaje
                if equipaje && equipaje.length
                    each item in equipaje
                        p Elemento: #{item.elemento}, Cantidad: #{item.cantidad}
                form(action="/gestion/agregar-equipaje", method="POST")
                    input(type="hidden", name="vueloId", value=vueloData.id)
                    .form-group
                        label(for="equipaje") Equipaje
                        input(type="text", name="equipaje", id="equipaje", required)
                    .form-group
                        label(for="cantidad") Cantidad
                        input(type="number", name="cantidad", id="cantidad", required)
                    button(type="submit") Agregar Equipaje

            //- Gastos
            .gastos
                h2 Gastos
                if gastos && gastos.length
                    each gasto in gastos
                        p Concepto: #{gasto.concepto}, Precio: $#{gasto.precio} MXN
                form(action="/gestion/agregar-gasto", method="POST") 
                    input(type="hidden", name="vueloId", value=vueloData.id)
                    .form-group
                        label(for="gasto") Gasto
                        input(type="text", name="gasto", id="gasto", required)
                    .form-group
                        label(for="monto") Monto
                        input(type="number", name="monto", id="monto", required)
                    button(type="submit") Agregar Gasto
