.block content
    .mainContainer
        form#multiStepForm(action="/detalles_viaje", method="POST")
            .slides-container
                .slide.active
                    h2 Selecciona el destino de tu próxima aventura
                    label(for="destino") Destino:
                    br
                    select(id="destino", name="destino", required)  
                        option(value="bar") Barcelona, España
                        option(value="que") Queenstown, Nueva Zelanda
                        option(value="es") Estambul, Turquía
                        option(value="pa") París, Francia
                        option(value="san") San Francisco, California
                        option(value="sin") Singapur, Singapur
                        option(value="se") Seúl, Corea del Sur
                        option(value="kyo") Kyoto, Japón 
                        option(value="lon") Londres, Inglaterra
                        br
                    button(type="button" id="nextSlideButton1" class="next-slide") Reserva tus vuelos!
                .slide
                    h2 Vuelos
                    p Selecciona tu clase de vuelo:
                    - var destinationElement = document.getElementById('destino');
                    - if (destinationElement !== null) {
                        - var destination = destinationElement.value;
                        each price, index in flightPrices[destination]
                            label(for=index) #{price.charAt(0).toUpperCase() + price.slice(1)} - $#{price} MXN
                            input(type="radio" id=index name="fly" value=index required)
                            br
                        br
                    - }
                    label(for="cantidad") Numero de boletos: 
                    input(type="number" id ="cantidad" name="cantidad" required)
                    br
                    br
                    label(for="fecha") Fecha del vuelo: 
                    input(type="date" id="date" name="date" required) 
                    br
                    button(type="button" id="prevSlideButton1" onclick="prevSlide()") Cambiar Destino
                    button(type="button" id="nextSlideButton2" class="next-slide") Reserva tu Hotel!
                .slide
                    h2 Hospedaje
                    p Elije tu Hotel!
                    div#hotelesContainer
                    label(for="noches") Noches de Hospedaje 
                    input(type="number" id="noches" name="noches" required)
                    button(type="button" id="prevSlideButton2" onclick="prevSlide()") Anterior
                    button(type="submit") Enviar
                script(src="/script.js")

